{% extends "bet/base.html" %}
{% load static %}

{% block css_links %}
<style>
    body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
}
.navbar-brand{
    padding-left: 8%;
}
</style>
{% endblock %}

{% block content %}

  {% include "bet/simple_nav.html" %}
  
  <main role="main" class="container">

    <div class="starter-template">
      <h1>{{titulo}}</h1>
      <p class="lead">{{info}}</p>
        <a href="{% url link %}">{{link_text}}</a>
    </div>

  </main>
{% endblock %}
