{% extends "bet/base.html" %}
{% load static %}

{% block css_links %}
<link rel="stylesheet" href="{% static "css/accounts.css" %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
            <div class="text-center">
                <h3><i class="fa fa-lock fa-4x"></i></h3>
                <h2 class="text-center">Esqueceu a senha?</h2>
                <p>Você pode resetar sua senha aqui.</p>
            </div>
            <form class="form-reset" method='POST'>
                {% csrf_token %}
                <div class="form-label-group">
                {{form.email}}
                <label for="id_email">Email</label>
                </div>

                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Reset</button>
                
            </form>
            </div>
        </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    input_obj = document.getElementById("id_email");

    input_obj.classList.add("form-control");
    input_obj.placeholder = "Email";
</script>
{% endblock %}