{% extends "bet/faq/faq-base.html" %}
{% load static %}

{% block faq_perguntas %}
<div class="col-xl-8">
    <div class="card card-lg">
        <h3 class="card-header border-bottom-0">
                        Terms and Conditions
                    </h3>
        <div class="accordion accordion-type-2 accordion-flush" id="accordion_2">
            {% for pergunta in perguntas %}
            <div class="card">
                <div class="card-question card-header d-flex justify-content-between activestate">
                    <a class="{% if not forloop.first %}collapsed{% endif %}"role="button" data-toggle="collapse" href="#collapse_{{pergunta.pk}}i" aria-expanded="true">{{pergunta.pergunta}}</a>
                </div>
                <div id="collapse_{{pergunta.pk}}i" class="collapse {% if forloop.first %}show{% endif %}" data-parent="#accordion_2" role="tabpanel">
                    <div class="card-body pa-15">{{pergunta.resposta}}</div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}