{% extends "bet/base.html" %}
{% load static %}

{% block css_links %}
<link rel="stylesheet" href="{% static "css/faq.css" %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Row -->
    
    {% include "bet/simple_nav.html" %}

    <div class="row mt-5 pt-2">
        <div class="col-xl-12 pa-0">
            <div class="container mt-sm-60 mt-30">
                <div class="hk-row">
                    <div class="col-xl-4">
                        <div class="card">
                            <h6 class="card-header">
                                            Category
                                        </h6>
                                <nav class="nav nav-tabs flex-column">
                                {% for tema in temas %}
                                    <a id='perfil' href="{% url "bet:faq" tema_pk=tema.pk %}" class="nav-link {% if id == tema.pk %}active{% endif %}">{{tema.choice|title}}<span class="badge badge-light badge-pill ml-15">{{tema.faq_set.all|length}}</span></a>
                                {% endfor %}
                            </nav>
                        </div>
                    </div>
                     {% block faq_perguntas %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <!-- /Row -->
</div>
{% endblock %}